@section scripts{
    
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1><br/>
    <h2>@ViewBag.Message</h2>
</hgroup>


<div class="col-lg-12">
  
        <section class="contact">
             <header>
                <h3>Phone: 435.659.6735</h3>
             </header>
        

        </section>
    
    
        <section class="contact">
            <header>
                <h3> Email</h3>
            </header>
            <p>
                <span><a href="mailto:andrea.thacker@outlook.com">andrea.thacker@outlook.com</a></span>    OR  
                <span><a href="mailto:andrea.thacker@outlook.com">grthacker@comcast.net</a></span>
            </p>

        </section>

        <section>
            <p><br />
                <div class="row">
                    <form action="Contact" method="post" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="Comments">Email Private Feedback To Developer</label>
                            <div class="controls">
                                <textarea rows="10" cols="30" id="Comments" name="Comments" placeholder="Developer Feeback" required></textarea>
                                <span></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">Your Email</label>
                            <div class="controls">
                                <input type="email" id="email" name="email" placeholder="Your email" required />
                                <span></span>
                            </div>
                        </div>


                        <input type="submit" title="Post Comment" />
                        <h1>@ViewBag.Thanks </h1><br />
                </form>
            </div>
        </p>
        </section>
    


         
    </div>
 