 <div data-ng-controller="feedbackController as vm" data-ng-init="vm.initForm()">
        <div class="container" >
            <h4>Developer Feedback</h4>
     
            @if (@Request.IsAuthenticated) {  

            <div class="row">
                <div class="col-sm-12">

                    <div class="col-sm-7">
                        <textarea cols="15" rows="3" data-ng-model="newFeedback" placeholder="Enter Developer Feedback"></textarea>
                    </div>
                    <div class="col-sm-5">
                        <button class="btn btn-primary" data-ng-click="vm.postFeedback()">Post Feedback</button>
                    </div>

                </div>
            </div>
            }

            <div class="row">

                <div class="col-sm-12">
                    <div class="col-sm-3"> <h4>Date</h4></div>
                    <div class="col-sm-3"> <h4>Reviewer</h4></div>
                    <div class="col-sm-6"> <h4>Comments</h4></div>
                </div>
               
                 <div class="col-sm-12" data-ng-repeat="info in vm.feedback"> 
                    <div class="col-sm-3"> {{info.commentDate}}</div>
                    <div class="col-sm-3"> {{info.user}} </div>
                    <div class="col-sm-6"> {{info.comment }}</div>
                    <div>



                    </div>


                </div>



            </div>




